data/raw/
data/training/test_set_tanna3.5.csv
data/tmp_tanna.csv
data/3_integrated_amedas_v2_1.csv
data/4_united_amedas_tanna_test3.5.csv
data/4_united_amedas_tanna_test3.5_t.csv
model/check_wind.xlsx
data/3_WithTemp_integrated_amedas_v2_1.csv
data/4_WithTemp_united_amedas_tanna_test3.5.csv
tanna_wind_url.txt
